.content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #3C3F42;
    width: 1500px;
    height: 700px;
    border-radius: 0.6em 0.6em 0 0;
    border: 2px solid #444;
    box-shadow: 0 4px 5px -2px black;
    padding: 10px;
    margin-bottom: 3px;
    overflow-y: scroll;
}

.messages-wrapper {
    flex: 1;
}

.content-wrapper p {
    font-size: 1.2em;
    font-weight: bolder;
}

.typing-indicator {
    align-self: flex-start;
}


@media only screen and (max-width: 767px) {
    .content-wrapper{
        width:90vw;
        font-size: 14px;
    }
}