.app-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.intro-wrapper {
    padding: 20px;
    background-color: #3C3F42;
    border-radius: 0.6em;
    border: 2px solid #444;
    box-shadow: 0 4px 5px -2px black;
    width: 600px;
    height: 600px;
}


.join-button-wrapper{
    display: flex;
    justify-content: center;

}
.join-chat-button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6C8029;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.join-chat-button:hover{
    background-color: #435019;
}

h2 {
    clear: both;
}

li, ol {
    clear: both;
    list-style-position: inside;
}
h1{
    text-align: center;
}

.chat-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

.input-wrapper{
    display: flex;
    width: 1522px;
    justify-content: space-between;
    align-items: center;
}
.button-wrapper {
    width: 130px;
    height: 85px;
    text-align: center;
    background-color: #2C2C2C;
    border-radius: 0 0 0.6em 0.6em;
    border: 2px solid #444;
    font-size: 14px;
    margin: 0;
}

.text-input {
    width: 1240px;
    height: 85px;
    background-color: #2C2C2C;
    border-radius: 0 0 0.6em 0.6em;
    border: 2px solid #444;
    color: #aaaaaa;
    font-size: 18px;
    vertical-align: top;
    resize: none;
    outline: none;
}

#buttonSend:hover{
    background-color: #494848;
}
#buttonLeave:hover{
    background-color:  #494848;
}

.modal-wrapper-empty {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: #1e1e21;
    border-radius: 0.6em;
    border: 2px solid #444;
    box-shadow: 0 4px 5px -2px black;
    display: flex;
    flex-direction: column;
}

.modal-wrapper p{
    font-size: 18px;
}

.modal-button-wrapper{
text-align: center;
}

.modal-button{
    font-size: 25px;
    width: 70px;
    border-radius: 0;
    color: #aaa;
    background-color: #65665E;
    border: 1px #2C2C2C;
}
.modal-button:hover{
    background-color: #4f504a;
}
.modal-line {
    width: 100%;
    border: 1px solid #65665E;
}

@media only screen and (max-width: 767px) {
    .input-wrapper{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

    }
    .intro-wrapper{
        max-width: 90vw;
        height:auto;
        font-size: 12px;
    }
    .text-input {
        max-width: 95vw;
    }
    .button-wrapper{
        display: none;
    }
}